body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    text-align: center;
  }
.container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap:50px;
}
.scoreboard{
    display:flex;
    justify-content: center;
    align-items: center;
}
.scoreboard_items{
    flex-basis:200px;
    border: groove 2px;
}
#ROCK, #PAPER, #SCISSORS{
    flex-basis: 200px;
}
#ROCK:hover, #PAPER:hover, #SCISSORS:hover{
    cursor:pointer;
}
#RESULT{
    color:red
}
p{
    font-size:20px;
}

@keyframes twinkling {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
  
.twinkling-text {
    animation: twinkling 1.5s infinite;
}